/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= stub active_admin
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
font-family: 'Roboto', sans-serif;
}
a{
  color: #333;
}

form{
  margin-bottom: 2rem;
}

.tablesorter-metro-dark{
  font: 14px/18px 'Roboto', sans-serif;
}
.tablesorter-metro-dark a{
  font-weight: 600;
  color: #333;
}

.form-control,
.card,
.btn{
  border-radius: 0;
}

.nav-color{
  background-color: #333;
}

.alert-box{
  z-index: 999999;
  position: fixed;
  top: 56px;
  right: 0;
}

.alert{
  border-radius: 0;
}

.table-container{
  margin: 3rem 0;
}

.btn-primary{
  background-color: #333;
  border-color: #333;
}

.card a{
  margin-left: 1rem;
}

.header{
  text-align: center;
  margin: 1rem 0;
}

.modal-content{
  border-radius: 0;
}