// Place all the styles related to the portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.follow{
  border-radius: 0;
  margin: 0 1rem 0 .5rem;
}

.portfolio-container{
  min-height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio{
  margin-bottom: 1rem;
}

.portfolio-remove:hover{
  text-decoration: none;
  color: #333;
}

.portfolio-container {
  .portfolio{
    .card-header{
    color: white;
    background-color: #333;
    border-radius: 0;
    }
  }

  a{
    color: white;
    margin: 0;
  }

  .portfolio-remove{
    margin: 0 1rem 0 .5rem;
  }
}

