<div class="card mt-3">
  <div class="card-body d-flex justify-content-between">
    
    <%= link_to coin.name, coin_path(coin) %>
    <div>
      <%= coin.daily_price_change %>
    </div>
  </div>
</div>