<h1>Crypto app</h1>
<h3 class="text-center">Top cryptocurrencies by spread</h3>
<table id="coinsMainTable" class="table table-hover tablesorter">
  <thead>
    <tr>
      <th>Coin</th>
      <th class="text-right">Price</th>
      <th class="text-right">Spread</th>
      <th class="text-right">24h change</th>
    </tr>
  </thead>
  <tbody>
    <%= render @coins %>
  </tbody>
</table>